<% if logged_in? %>
  <div class="row">
    <div class="col-sm-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
    
    
    <%= form_with(url: root_path, method: :get, local: true) do |f| %>
    <%= f.select :genre, ['eat', 'exercise', 'beauty', 'Myタイムライン', 'Allジャンル'], {include_blank: '表示選択'}, class: 'form-control' %>
      <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
    <% end %>
    
    
  </div>
<% else %>
  <div class="center jumbotron" style="background: url(<%= asset_path "b093.jpg" %>);">
    <div class="text-center">
      <h1>「キレイ」も「悩み」もシェアするなら？</h1><br><br><br>
      <a class="navbar-brand" href="/signup"><i class="far fa-edit"></i> 今日のキレイをメモする <i class="far fa-edit"></i></a><br>
      <a class="navbar-brand" href="/signup"><i class="far fa-lightbulb"></i> みんなのメモで悩みを解消 <i class="far fa-lightbulb"></i></a>
    </div>
  </div>
<% end %>