<% if current_user == post.user %>
  <div class="row">
    <div class="toukou">
      <div class="col-sm-8">
        <%= form_with(model: post, local: true) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          
          <div class="edit_genre" >
          <%= f.label :genre, 'ジャンル' %>
          <%= f.select :genre, ['食事', '運動', '美容'] %>
          </div>
          <div class="form-group">
            <p class="gazou">
              <%= f.label :image, '画像をアップロード' %>
              <br>
              <%= f.file_field :image %>
            </p>
            <% if f.object.image.present? %>
              <%= image_tag post.image.url, alt: "KIREI_image" %>
            <% end %>
            <br>
            <div class="edit_memo" ><%= f.label :content, 'メモ' %></div>
            <%= f.text_area :content, class: 'form-control', rows: 5 %>
          </div>
          <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


