<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(post.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div class="namae">
          <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">posted at <%= l post.created_at %></span>
        </div>
        <div>
          <p class="text-break mb-0"><mark><%= post.genre %></mark></p>
          <% if post.image? %>
            <%= image_tag post.image.url, alt: "KIREI_image" %>
          <% end %>
        </div>
        <div class="text-break mb-0"><%= simple_format( post.content ) %></div>
        <div class="btn-toolbar">
          <%= render 'posts/edit_button', post: post %>
          <%= render 'favorites/like_button', post: post %>
          <%= render 'posts/delete_button', post: post %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate posts %>